<% content_for :title, "Editing post" %>

<div class="md:w-2/3 w-full">
  <div class="bubble-card p-8 lg:p-12 max-w-4xl mx-auto my-10">
    <h1 class="text-3xl font-bold text-primary-800 mb-6">Editing Post</h1>
    <%= render "form", post: @post %>
  </div>

  <%= link_to "View Comments",
  @post,
  class:
    "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>

  <%= link_to "Go Back",
  posts_path,
  class:
    "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
