<% content_for :title, "Editing post" %>

<div class="mx-auto md:w-2/3 w-full">
  <div class="bubble-card p-8 lg:p-12 max-w-4xl mx-auto my-10">
    <h1 class="text-3xl font-bold text-primary-800 mb-6">Editing Post</h1>
    <%= render "form", post: @post %>
  </div>
</div>
